<div class="mt-2 mb-1">
  <div class="tooltip w-full" data-tip="<%= t('unlock_with_Bsign_pro') %>">
    <%= link_to submitter.sent_at? ? t('re_send_sms') : t('send_sms'), Bsign.multitenant? ? console_redirect_index_path(redir: "#{Bsign::CONSOLE_URL}/plans") : "#{Bsign::CLOUD_URL}/sign_up?#{{ redir: "#{Bsign::CONSOLE_URL}/on_premises" }.to_query}", class: 'btn btn-sm btn-primary text-gray-400 w-full' %>
  </div>
</div>
